coding_exercise/ipsoft_perf_counters_xml_schema.xsd

<?xml version="1.0"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://example.ipsoft.com/coding.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Site">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Hosts">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Host" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Host_Name"/>
                    <xs:element type="xs:string" name="IP_address"/>
                    <xs:element type="xs:string" name="OS"/>
                    <xs:element type="xs:float" name="Load_avg_1min"/>
                    <xs:element type="xs:float" name="Load_avg_5min"/>
                    <xs:element type="xs:float" name="Load_avg_15min"/>
                  </xs:sequence>
                  <xs:attribute type="xs:short" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="location" use="optional"/>
    </xs:complexType>
  </xs:element>
</xs:schema>